.views-element-container{
	color: green;
}
#block-demo-recipelist-2-menu{
	color: red;
}
a{
	font-size: 20px;
	color: blueviolet;
	background-color: brown;
}
.notitle{
	background-color: red;
}
.auth{
	color:green;
}